<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modern IT Recruiting</title>

  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/captcha.css"/>

</head>

<body>
<div id="ror" class="main">

  <div class="first-block">
    <div class="header container-fluid px-5 pt-5 position-absolute  row justify-content-between">

      <div class="row col">
        <a href="http://digital-startup-studio.ru/startup-studio-hq/">
          <img class="align-self-end" src="../img/circle.png">
        </a>
      </div>

      <div class="col-7">
        <div class="row ml-1 justify-content-between header-buttons">
          <a href="#about">О формате</a>
          <a href="#howItWill">Как это будет</a>
          <a href="#contacts">Контакты</a>
          <a class="red-button" href="#submit">Принять участие</a>
        </div>
      </div>

    </div>

    <div class="text-front showing text-center position-absolute">
      <div>
        <p><b>Приглашаем</b></p>
        <div class="red-block justify-content-center container flex">
          <p><b>29 сентября</b></p>
        </div>
        <p class="cyan"><b>Москва</b></p>
        <p>принять участие <br> в деловой игре-тренажёре</p>
        <p class="big-text"><b>Генерация идей</b> <br> <b>платформенных</b><br> <b>стартапов</b></p>
        <p>тема:</p>
        <div class="red-block flex justify-content-center">
          <p class="big-text mb-0"><b>Современый</b></p>
        </div>
        <div class="red-block flex justify-content-center mb-3">
          <p class="big-text"><b>ИТ-рекрутинг</b></p>
        </div>
        <a href="#submit" class="cyan-button">Принять участие</a>
        <p>Участие в игре <br> бесплатное</p>
      </div>
    </div>

    <img class="img-back" src="../img/headerBack.jpg">

  </div>

  <br>
  <br>
  <br>

  <div class="two-block">
    <a name="about"></a>
    <h1 class="text-center mb-5" id="about">О ф<span>орм</span>ате</h1>

    <div class="row mx-0">
      <div class="col-6 px-5 overflow-hidden">
        <div class="position-absolute">
          <div class="red-block">
            <p class="mb-0">Цифровая<br>платформа</p>
          </div>
        </div>
        <div>
          <img src="../img/aboutForm1.png">
        </div>
      </div>
      <div class="col-6 px-5">
        <p>
          <b>
            Если вы слышали об «Uber» и «Аirlinbe», значит вы догадываетесь о том, что такое «цифровая платформа». За
            такими бизнес-решениями будущее. Для разработки подобных стартап идей, стартап-студия «Система-2» создала
            специальный формат - деловую игру-тренажер «Генерация идей платформенных стартапов».
          </b>
        </p>
        <p>
          Предприниматели стартап-студии «Система-2» поставят актуальные проблемы в той или иной сфере деятельности и
          предложат стартовые идеи-гипотезы их решения. Участники деловой игры-тренажера построят компании, проведут
          экспресс-исследования лучших практик, проработают (поэкспериментируют, детализируют или переделают) стартовые
          идеи, попробуют привлечь в них инвестиции. В итоге победит та компания, которая сможет качественно проработать
          наибольшее количество идей, привлечь в них максимум инвестиций и затем наиболее выгодно продать их
          стартап-студии.
        </p>
        <h4 class="mb-1"> 29 сентября 2018 года</h4>
        <p class="mb-1"><b>генерация идей платформенных стартапов по теме:</b></p>
        <h4> «Современный ИТ-рекрутинг»</h4>

        <div class="row pt-4">
          <div class="col-4"><a class="cyan-button" href="#howItWill">Как это будет</a></div>
          <div class="col-5"><a class="red-button" href="#submit">Принять участие</a></div>
        </div>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>

  <div class="third-block">
    <h1 class="text-center mb-5" id="interes">Кому это буд<span>ет и</span>нтересно?</h1>
    <br>

    <div class="row mx-0">
      <div class="col-6 px-5">
        <p>
          Тем, кто хочет разобраться в современных тенденциях и технологиях ИТ-рекрутинга.
        </p>
        <br>
        <p>
          Тем, кто хочет пройти стажировку в нашей стартап-студи, сделать один, а лучше серию стартапов и стать
          серийным предпринимателем.
        </p>
        <br>
        <p>
          Тем, кто хочет проектировать и строить цифровые платформы в разных сферах деятельности.
        </p>
        <br>
        <p>
          Тем, кто хочет заниматься аналитикой и исследованиями цифровой трансформации и платформизации бизнеса.
        </p>
        <br>
        <a class="red-button" href="#submit">Принять участие</a>
      </div>
      <div class="col-6 px-5">
        <div class="position-absolute red-block text-left">
          <p class="pl-1 pr-5 pt-4 pb-1">Кого<br>ждём</p>
        </div>
        <img src="../img/whoInterest.png">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="fourth-block mx-0 px-0">
    <a name="howItWill"></a>
    <h1 class="text-center" id="who">Как <span>это </span>будет?</h1>
    <br>

    <div class="container-fluid row mx-0 px-0">
      <div class="col-1 red-block">
        <p class="pt-5 pr-2">Шаги</p>
      </div>
      <div class="col-11 mx-0 px-0">
        <div class="row container-fluid mx-0 px-0 ">
          <div class="position-absolute mx-0 px-0 ">
            <img src="../img/howItWas.png">
          </div>
          <div class="col-4 cyan-block">
            <h1>1</h1>
            <p>
              Подайте заявку - зарегистрируйтесь, заполните анкету. Наши специалисты свяжутся с вами, проведут короткое
              интервью и пригласят на деловую игру-тренажер.
            </p>
          </div>
          <div class="col-4"></div>
          <div class="col-4 cyan-block">
            <h1>3</h1>
            <p>
              По итогам мероприятия лучшим участникам, которые смогли разработать удачные идеи, а также
              продемонстрировать предперимательское самоопределение, будет предложена стажировка в рекрутском стартапе
              и/или других стартапах старап-студии
              «Система-2».
            </p>
            <div class="text-center mt-5">
              <a class="red-button" href="#submit">Принять участие</a>
            </div>
            <br>
          </div>
          <div class="col-4"></div>
          <div class="col-4 cyan-block">
            <h1>2</h1>
            <p>
              Участие в деловой игре-тренажере по генерации идей платформенных стартапов в ИТ-рекрутинге. В течение 7
              часов (с перерывом на обед) вам предстоит построить компании,
              сложить партнерские отношения, привлечь инвестиции, для того чтобы быстро и качественно:
            </p>
            <ul>
              <li>
                изучить «архитектуру» цифровых платформ в рекрутинге;
              </li>
              <li>
                обследовать устройство сетевых сообществ ИТ-специалистов, заказчиков, рекрутеров;
              </li>
              <li>
                разработать проектные идеи для рекрутинговой платформы, проверить их на сетевой эффект;
              </li>
              <li>
                продать стартап-студии платформенные идеи, доказав, что они полезны для решения конкретных проблем
                в ИТ-рекрутменте.
              </li>
            </ul>
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="eight-block mt-5">
    <h1 class="text-center" id="people">
      Кураторы сер<span>ии де</span>ловых игр
    </h1>
    <br>
    <br>
    <br>
    <div class="container-fluid row">
      <div class="offset-md-1 col-md-2 col-lg-2 offset-lg-3 text-right">
        <img src="../img/Galushkin.png">
      </div>
      <div class="col-md-9 col-lg-5">
        <p>
          <b>С.В. Галушкин</b>
        </p>
        <br>
        <p>
          Сооснователь стартап-студии «Система-2», методолог, руководитель проектной поддержки стартапов, Генеральный
          директор консультационно-аналитической компании ООО «ДаС-Проект», руководитель-проектировщик серии деловых
          игр-тренажеров «Генератор идей платформенных стартапов».
        </p>
      </div>
    </div>

    <br>

    <div class="container-fluid row">
      <div class="offset-md-1 col-md-2 col-lg-2 offset-lg-3 text-right">
        <img src="../img/Juravlev.png">
      </div>
      <div class="col-md-9 col-lg-5">
        <p>
          <b>А. Журавлев</b>
        </p>
        <br>
        <p>
          Сооснователь стартап-студии «Система-2», руководитель направления HR-
          стартапов, руководитель кадрово-аналитического блока ГК «Да-Стратегия», старший научный сотрудник факультета
          психологии МГУ имени М.В. Ломоносова, к. психолог. н.
        </p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <iframe name="iframe1" style="position: absolute; left: -9999px;"></iframe>

  <div class="ten-block">
    <a name="submit"></a>
    <h1 class="text-center" id="submit">Пода<span>ть з</span>аявку</h1>
    <br>
    <br>
    <div class="row mx-0">
      <div class="offset-1 col-10">
        <h4 class="text-center">
          Подать заявку на участие в деловой игре-тренажере
          «Генерация платформенных стартапов в ИТ-рекрутинге»
        </h4>
        <br>
        <h3 class="text-center">
          Заполните форму:
        </h3>
        <div class="container-fluid">
          <form id="formFeedback" action="/feedback" method="POST" target="iframe1">
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="FI"
                     placeholder="Ваше имя и фамилия полностью">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="age" placeholder="Возраст">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="edu"
                     placeholder="Образование (вуз, факультет, год окончания)">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="interests"
                     placeholder="Область профессиональных интересов">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="startup"
                     placeholder="Есть ли опыт организации стартапа? Если да, то в каких сферах">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="phone" placeholder="Телефон">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control offset-2 col-8" name="email" placeholder="E-mail">
            </div>
            <div class="form-group row justify-content-center mr-5 ">
              <div class="px-0 col-10 offset-2 row">
                <div id="roboText" class="col-4 pl-0">
                  <p>Подтвердите, что вы не робот:</p>
                </div>
                <div class="col-4">
                  <button id="formsubmitEnd" type="submit" class="offset-1 px-0  col-10 red-button btn-disabled"
                          data-toggle="modal" data-target="#flipFlop">Подать заявку
                  </button>
                </div>
                <div class="col-4">
                  <p id="submitText" style="visibility:hidden">Заявка подана!</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="offset-1 col-10 row">
  <div class="offset-2 pl-0 col-2">
    <div class="captcha_wrap ml-0">
      <div class="captcha">
        Расставьте по порядку
      </div>
      <ul id="sortable">
        <li class="captchaItem">1</li>
        <li class="captchaItem">2</li>
        <li class="captchaItem">3</li>
        <li class="captchaItem">4</li>
        <li class="captchaItem">5</li>
        <li class="captchaItem">6</li>
      </ul>
    </div>
    <div class="col-1">
      <div>
        <button id="formsubmit" class="ml-2 cyan-button" data-toggle="modal" data-target="">Готово</button>
      </div>
    </div>
  </div>
</div>


<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Готово!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ваша заявка отправлена.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flipFlop2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel2">Упс</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Капча не верна.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<br>


<div class="contacts mt-5 pt-5">
  <a name="contacts"></a>

  <div class="container-fluid text-center">
    <p>
      Место проведения: г. Москва Набережная Академика Туполева д.15 корп 22. 10 минут от м. Бауманская
    </p>
    <br>
    <br>
    <h5>Остались вопросы?</h5>
    <br>
    <p>
      Пишите: <b>dastrateg@ya.ru</b>
    </p>
    <p>
      Звоните: <b>+7(499)400-56-98</b>
    </p>
  </div>
</div>


<div class="footer">
  <div class="position-absolute mt-4 ml-4">
    <p>Стартап-студия "Система 2"</p>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="../js/animations.js"></script>

<script type="text/javascript" src="js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.sortable.js"></script>

<script type="text/javascript" src="../js/captcha.js"></script>


</body>
</html>